body { height: 100%; margin: 0; padding: 0 }

#map-canvas {
	height: 100vh;
}

.message-box {
	position: absolute;
	margin: auto;
	top: 10px;
	right: 10px;
	width: 25vw;
	height: 10vw;
	background: rgba(255,255,255,1)	
}

#message-buttons {
  width: 6vw;
  height: 3.5vw;
  position: absolute;
  bottom: 0.1vw;
  right: inherit;
}

.button-sms {
  width: 80%;
  height: 100%;
  background: url('/images/sms_button.png') no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: inherit;
  right: 0;
}

.modal-dialog{
  width: 23vw;
}

.modal-body {
  padding: 10px;
}

.input {
  width: 60%;
  left: 0;
}

#message-area {
	position: absolute;
	left: 10px;
	width: 17vw;
	height: 7vw;
  margin: auto;
}

.slick-prev:before, .slick-next:before {
	color: silver;
}

.slick-list {
  text-align: center;
  margin: 4vw 0;
}

.slick-slide {
  font-size: 1.25em;
}
